.MusicItem {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;
    border-top: 1px solid grey;
}

.MusicItem li{
    margin-left: 10px;
}

.MusicItem a,
.MusicItem a:visited,
.MusicItem a:hover,
.MusicItem a:active
{
    text-decoration: none;
    color: black;
}

.MusicItem li:hover{
    color:white;
}

.MusicItem:hover{
    background-color: lightgrey;
    color: black;
}

.MusicItem span{
    color: lightgrey;
    font-weight: lighter;
    font-style: italic;
}